body {
	margin: 0px 0px 20px 0px;
	background-color: #EC6E20;
	
        	text-align: center;
        
	}

               	A              { color: #003366; text-decoration: underline; }
	A:link	{ color: #003366; text-decoration: underline; }
	A:visited	{ color: #003366; text-decoration: underline; }
	A:active	{ color: #999999;  }
	A:hover	{ color: #999999;  }
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	}

#container {
	line-height: 200%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding: 0px;
	width: 680px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	}

#banner {
	font-family: palatino,  georgia, verdana, arial, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	padding: 15px;
	border-bottom: 1px solid #FFFFFF;
	height: 39px;
	}

#banner-img {
	display: none;
	}


#banner a {
	color: #000000;
	text-decoration: none;
	}

#banner h1 {
	font-size: xx-large;
font-family: 黑体;
	}

#banner h2 {
	font-size: small;
	}
#banner h3 {
	font-size: small;
line-height: 150%;
text-align: right;

	}

#center {
	float: left;
	width: 680px;
	overflow: hidden;
	}

.content {
	padding: 15px 15px 5px 15px;
	background-color: #FFFFFF;
	color: #333;
	font-family: palatino,  georgia, verdana, arial, sans-serif;
	font-size: small;
	}

#right {
	float: left;
	width: 0px;
	background-color: #FFFFFF;
	overflow: hidden;
	}

.content p {
	color: #333;
	font-family: palatino,  georgia, verdana, arial, sans-serif;
	font-size: normal;
	font-weight: small;
	line-height: 200%;
	text-align: left;
	margin-bottom: 10px;
	}

.content blockquote {
	line-height: 200%;
	}

.content li {
	line-height: 200%;
	}

.content h2 {
	font-family:palatino, georgia, times new roman, serif; 
	font-size: large; 
	color: #333; 
	border-bottom:1px solid #999;
	margin-bottom:10px;
	font-weight:bold;
	}

.content h3 {
	color: #666;
	font-family: palatino, georgia, times new roman, serif;
	font-size: normal;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
	}

.content p.posted {
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-top: 1px solid #FFFFFF;
	text-align: left;
	margin-bottom: 25px;
	line-height: normal;
	padding: 3px;
	}

.sidebar {
	padding: 15px;
	}

#calendar {
  	line-height: 200%;
	color: #666666;
	font-family: palatino,  georgia, verdana, arial, sans-serif;
	font-size: x-small;
  	padding: 2px;
	text-align: center;
	margin-bottom: 30px;
	}

#calendar table {
	padding: 2px;
	border-collapse: collapse;
	border: 0px;
	width: 100%;
	}

#calendar caption {
	color: #666600;
	font-family: palatino,  georgia, verdana, arial, sans-serif;
	font-size: small;
	
	text-align: left;
	font-weight: normal;
	
	text-transform: uppercase;
	
	letter-spacing: .2em;
	}

#calendar th {
	text-align: center;
	font-weight: normal;
	}

#calendar td {
	text-align: center;
	}

.sidebar h2 {
	color: #666600;
	font-family: palatino,  georgia, verdana, arial, sans-serif;
	font-size: small;
	
	text-align: left;
	font-weight: normal;
	
	text-transform: uppercase;
  	
	letter-spacing: .2em;
	}

.sidebar ul {
	padding-left: 0px;
	margin: 0px;
	margin-bottom: 30px;
	}

.sidebar ul ul {
	margin-bottom: 0px;
	}

.sidebar #categories ul {
	padding-left: 15px;
	}

.sidebar li {
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	text-align: left;
	line-height: 150%;
	margin-top: 5px;
	list-style-type: none;
	}

.sidebar #categories li {
	list-style-type: circle;
	}

.sidebar img {
	border: 3px solid #FFFFFF;
	}

.comment-link {
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	text-align: left;
	line-height: 150%;
	margin-top: 5px;
	}

.photo {
	text-align: left;
	margin-bottom: 20px;
	}

.link-note {
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	line-height: 150%;
	text-align: left;
	padding: 2px;
	margin-bottom: 15px;
	}

#powered {
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	line-height: 150%;
	text-align: left;
	color: #666666;
	margin-top: 50px;
	}

#comment-data {
	float: left;
	width: 180px;
	padding-right: 15px;
	margin-right: 15px;
	text-align: left;
	border-right: 1px dotted #BBB;
	}

textarea[id="comment-text"] {
	width: 80%;
	}

.commenter-profile img {
	vertical-align: middle;
	border-width: 0;
	}
