.title, h2 {
   text-transform:uppercase;font-size:12pt;font-weight:900;
   border:1px solid #336699; 
   padding:5; width:100%;
   background-color: #EAEFF4 }


body					       	{ padding:0; font-family: Verdana; font-size:10pt;margin-left:80;margin-right:80;margin-top:0; }

p, li, ul, div, td, tr, table  	{ font-family: Verdana, arial, sans-serif; font-size:10pt;}
h6								{ font-size: 8pt;font-weight:100 }

.OutOfDateNews 					{ display:none; }
.LeftNav 						{ font-size:8pt; font-face:verdana;}

h3, .boxblue, .sidetitle					{ border: 1px solid #87CEEB; padding:4px; background-color: #F0F8FF; font-family: Verdana; font-size:10pt; }
.boxorgange						{ border: 1px solid #EE793B; padding:4px; background-color: #FFFF99; font-family: Verdana; font-size:10pt; }

.code 							{ font:courier;font-size:8pt;  border: 1px solid #87CEEB; padding:4px; background-color: #F0F8FF;}

.nextlink 						{ color:green;font-weight:900;}
.linknumber 					{ position:absolute;margine-left:-1;color:black;border: 1px solid #87CEEB;padding-left:3px;margin-top:-2;
								  padding-right:3px;background-color: #F0F8FF;font-weight:800;cursor:hand;}
								  
.nav-header						{margin-bottom:10px}

.small-note, small  {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:11px;
		font-weight:normal;
		}		

.adsense {
	float:right;
	padding-left:20px;
	padding-bottom:20px;
	background-color:#ffffff;
 }


/* MovableType Blog specific tags */

#menu 	{text-align:center;font-size:8pt;margin-bottom:15;}

.date	{
		font-size: 11px; 
		color: #666; 
		border-bottom:1px solid #999;
		margin-bottom:10px;
		font-weight:bold;
		}			
.posted	{ 
		font-size: 11px; 
		color: #003366; 
		margin-bottom:25px;
		}
			
.OnThisPage {background-color:#eee}	

.comments-head	{ 

		color: #666; 
		border-bottom:1px solid #999;
		margin-top:20px;
		font-weight:bold;
  		background:#FFF;		
		}		

	.comments-body {

		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:11px;
		font-weight:normal;
  		background:#FFF;
  		line-height:14px;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px dotted #999; 					
		}		



	.comments-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:9px;
		font-weight:normal;
  		background:#FFF;		
		}	
	
	#banner {

		font-family:georgia, verdana, arial, sans-serif;

		color:#000;

		font-size:24px;

		font-weight:bold;

		border-left:1px solid #CC9900;	

		border-right:1px solid #CC9900;  		

		border-top:1px solid #CC9900;  		

		border-bottom: 1px solid #CC9900;  		

  		background:#F0F8FF;

  		padding:15px;
  		
		margin-bottom: 10px; 	

		text-decoration:none;	  		  		 	 

		}
		
		
.description { font-family:verdana;font-size:10pt;font-weight:500;}

.title {margin-top:0px}



blockquote {
	font-style:italic;
	color:#000000;
	line-height:15px;
	background-color: #EEE;
	padding: 4px;
	margin-left: 30px;
	margin-right: 75px;
	}

.moretitle {
	font-size:10px;
	font-weight:900;
	}
	
.moreexcerpt {
	font-size: 9px;
	}


.Headings       { border-bottom:4px solid #336699; 
                       text-transform:uppercase;
                       font-weight:800;}
.Headlines      { border:1px solid #336699; 
                       padding:5; 
                       background-color: #EAEFF4 }
.RedHeadings  { border-top: 4px solid #CC0000; 
                       background-color: #003366;
                       font-color: #FFFFFF;
                       color: #FFFFFF;
                       font-weight: 900; }
.HeadingCaption {text-transform:uppercase;font-size:12pt;font-weight:900; }
.ArchiveTitle    {font:14pt, arial; font-weight:800;}
.RedLeftBar     {border-left: 5px solid #CC0000;
                       margin-left:20;
                       background-color:#EAEFF4 ;
                       padding-left:8;
                       padding-right:8;
}

.RankBar {width:100;overflow:hidden; }

#idGoogleAdSense {float:right;padding-left:30;padding-top:5px;padding-bottom:10px;background-color:white;}